.message-input {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #1C1C24;
    border: 1px solid #1B262C;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;

    &__maxlength {
        padding: 3px;
        width: max-content;
        position: absolute;
        right: 25px;
        bottom: 3px;
    }

    &__attachment {
        max-height: 30vh;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        transition: max-height 0.3s;

        &--disabled {
            max-height: 0;
            transition: max-height 0.3s;
        }

        .attachment {
            margin: 18px;
        }
    }

    &__text-field {
        position: relative;
        min-width: 100%;
        // resize: vertical;
        // min-height: 50px;
        // max-height: 400px;
        min-height: 60px;

        &__in {
            // resize: both;
            // min-height: 50px;
            // min-width: 200px;
            // max-height: 200px;
            // max-width: 500px;
            resize: none;
            height: 100%;
            width: 100%;
            word-break: break-word;
            max-height: 25vh;
            outline: none;
            background: #1C1C24;
            border: none;
            font-family: 'SF Pro Display', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 17px;
            color: #78777C;
            padding: 19px 100px 0px 50px;

            &:focus {
                color: #ffffff;    
            }
        }
    }

    &__emoji-stickers {
        max-height: 30vh;
        overflow: auto;
        padding: 18px;

        transition: max-height 0.3s;

        &--disabled {
            padding: 0;
            max-height: 0;
            transition: max-height 0.3s;
        }
    }

    &__emoji {
        height: fit-content;
        flex-wrap: wrap;
        padding: 18px;
    }

    &__stickers {
        height: fit-content;
        flex-wrap: wrap;
        padding: 18px;
    }
}

.view-chat__send-message-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    fill: #0782C7;

    &:hover {
        fill: #626161;
    }
}

.view-chat__add-attachment-button {
    position: absolute;
    right: 70px;
    bottom: 23px;
    fill: #0782C7;

    &:hover {
        fill: #626161;
    }
}

.view-chat__add-emoji-sticker {
    position: absolute;
    left: 15px;
    bottom: 20px;
    fill: #0782C7;

    &:hover {
        fill: #626161;
    }

    &--pressed {
        fill: #D9D9D9;
    }
}
