<div class="about-us container flex col">
    <div class="about-us__logo flex">
        <figure class="row flex">
        <img class="about-us__logo__image" src="./assets/img/logo.png" alt="Logo">
        <figcaption class="about-us__logo__text">Technogramm</figcaption>
        </figure>
    </div>
    <h2 class="about-us__slogan">Наслаждайтесь общением.</h2>
    <div class="list flex about-us__list flex col">
        <span class="about-us__list__item">Обмен текстовыми сообщениями, фото и стикерами.</span>
        <span class="about-us__list__item">Создание канала для публикации контента.</span>
        <span class="about-us__list__item">Создание групповых чатов для общения с друзьями.</span>
    </div>
</div>