<div class="about-us container flex col">
    <div class="about-us__logo flex">
        <figure class="row flex">
            //- <img class="about-us__logo__image" src="./assets/img/logo.png" alt="Logo">
            <svg class="about-us__logo__image" width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="15" fill="#112235"/>
            <path d="M0 15C0 6.71573 6.71573 0 15 0C23.2843 0 30 6.71573 30 15C30 23.2843 23.2843 30 15 30C6.71573 30 0 23.2843 0 15Z" fill="#131318"/>
            <path d="M22.861 6.6306C22.8543 6.59793 22.8384 6.56786 22.8151 6.54391C22.7919 6.51997 22.7623 6.50314 22.7299 6.4954C20.5663 5.96643 15.5673 7.85145 12.8589 10.5588C12.3758 11.0379 11.9355 11.5583 11.5427 12.1139C10.7075 12.04 9.87234 12.1017 9.16052 12.412C7.15212 13.296 6.56736 15.6025 6.40446 16.5947C6.39522 16.649 6.3987 16.7047 6.41464 16.7574C6.43058 16.8102 6.45853 16.8585 6.4963 16.8986C6.53408 16.9387 6.58063 16.9695 6.63232 16.9885C6.68401 17.0076 6.73941 17.0144 6.79417 17.0084L10.0194 16.6527C10.0217 16.8958 10.0363 17.1387 10.0633 17.3804C10.0796 17.5482 10.154 17.705 10.2739 17.8236L11.5228 19.0696C11.6415 19.1893 11.7983 19.2638 11.9661 19.2802C12.2064 19.3071 12.4479 19.3217 12.6897 19.3241L12.3358 22.5453C12.3299 22.6 12.3368 22.6554 12.3559 22.707C12.375 22.7587 12.4058 22.8052 12.4458 22.843C12.4859 22.8807 12.5342 22.9087 12.5869 22.9246C12.6396 22.9406 12.6953 22.9441 12.7496 22.935C13.7399 22.7761 16.0505 22.1914 16.9293 20.183C17.2396 19.4712 17.3031 18.64 17.2314 17.8089C17.7884 17.4161 18.3101 16.9756 18.7907 16.4923C21.5076 13.7891 23.3819 8.90164 22.861 6.6306ZM16.08 13.2675C15.8319 13.0196 15.663 12.7037 15.5944 12.3597C15.5259 12.0157 15.561 11.6591 15.6952 11.3351C15.8293 11.011 16.0566 10.734 16.3482 10.5391C16.6398 10.3443 16.9827 10.2402 17.3334 10.2402C17.6841 10.2402 18.027 10.3443 18.3186 10.5391C18.6102 10.734 18.8375 11.011 18.9716 11.3351C19.1058 11.6591 19.1408 12.0157 19.0723 12.3597C19.0038 12.7037 18.8348 13.0196 18.5868 13.2675C18.4222 13.4323 18.2269 13.563 18.0118 13.6521C17.7967 13.7413 17.5662 13.7872 17.3334 13.7872C17.1006 13.7872 16.87 13.7413 16.655 13.6521C16.4399 13.563 16.2445 13.4323 16.08 13.2675Z" fill="white"/>
            <path d="M11.4378 19.972C11.2353 20.1748 10.9106 20.2538 10.5198 20.3214C9.64175 20.471 8.86639 19.7123 9.02413 18.8246C9.08434 18.4881 9.26239 18.0164 9.3732 17.9056C9.39743 17.8818 9.41355 17.851 9.41928 17.8176C9.42501 17.7842 9.42007 17.7498 9.40514 17.7193C9.39021 17.6888 9.36607 17.6639 9.33613 17.6479C9.30619 17.6319 9.27199 17.6258 9.23837 17.6304C8.74736 17.6905 8.29056 17.9131 7.94069 18.2628C7.07224 19.132 6.99023 22.3572 6.99023 22.3572C6.99023 22.3572 10.2173 22.2752 11.0857 21.406C11.4365 21.0564 11.6594 20.5989 11.7185 20.1072C11.7322 19.9528 11.5441 19.8608 11.4378 19.972Z" fill="white"/>
            </svg>
            <figcaption class="about-us__logo__text">Technogramm</figcaption>
        </figure>
    </div>
    <h2 class="about-us__slogan">Наслаждайтесь общением.</h2>
    <ul class="list flex about-us__list flex col">
        <li class="flex about-us__list__item">
            <svg class="about-us__list__item__svg" width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
            <path d="M22 11L19.56 8.21L19.9 4.52L16.29 3.7L14.4 0.5L11 1.96L7.6 0.5L5.71 3.69L2.1 4.5L2.44 8.2L0 11L2.44 13.79L2.1 17.49L5.71 18.31L7.6 21.5L11 20.03L14.4 21.49L16.29 18.3L19.9 17.48L19.56 13.79L22 11ZM9.09 15.72L5.29 11.91L6.77 10.43L9.09 12.76L14.94 6.89L16.42 8.37L9.09 15.72Z" fill="white"/>
            </svg>
            <span class="about-us__list__item__text">Обмен текстовыми сообщениями, фото и стикерами.</span>
        </li>
        <li class="flex about-us__list__item">
            <svg class="about-us__list__item__svg" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.07 2.93L15.66 4.34C17.1 5.79 18 7.79 18 10C18 14.42 14.42 18 10 18C5.58 18 2 14.42 2 10C2 5.92 5.05 2.56 9 2.07V4.09C6.16 4.57 4 7.03 4 10C4 13.31 6.69 16 10 16C13.31 16 16 13.31 16 10C16 8.34 15.33 6.84 14.24 5.76L12.83 7.17C13.55 7.9 14 8.9 14 10C14 12.21 12.21 14 10 14C7.79 14 6 12.21 6 10C6 8.14 7.28 6.59 9 6.14V8.28C8.4 8.63 8 9.26 8 10C8 11.1 8.9 12 10 12C11.1 12 12 11.1 12 10C12 9.26 11.6 8.62 11 8.28V0H10C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 7.24 18.88 4.74 17.07 2.93Z" fill="white"/>
            </svg>
            <span class="about-us__list__item__text">Создание канала для публикации контента.</span>
        </li>
        <li class="flex row about-us__list__item">
            <svg class="about-us__list__item__svg" width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.99 17.0048L1.62 11.2748L0 12.5348L9 19.5348L18 12.5348L16.37 11.2648L8.99 17.0048ZM9 14.4648L16.36 8.73484L18 7.46484L9 0.464844L0 7.46484L1.63 8.73484L9 14.4648Z" fill="white"/>
            </svg>
            <span class="about-us__list__item__text">Создание групповых чатов для общения с друзьями.</span>
        </li>
    </div>
</div>