.contact.flex(name!= id)
    .contact-avatar
        != avatar
    .contact-info.flex
        .contact-nickname
            .contact-nickname__text= nickname
        .contact-status
            .font-size-5= status
